.header {
  display: flex;

  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.cart-icon {
  font-size: 1.5rem;
  position: relative;
  opacity: 0.7;
}
.cart-icon:hover {
  opacity: 1;
}
.cart-count {
  position: absolute;
  color: green;
  top: 1;

  /* padding: 0.2rem;
  border: 1px solid black; */
  border-radius: 50%;
}
/* .cart-container {
  padding: 0.4rem;
  border: 2px solid black;
  border-radius: 50%;
} */
.logo {
  font-weight: bolder;
  font-style: italic;
  text-decoration: none;
  color: black;
  opacity: 0.6;
  transition: all 0.3s ease;
}
.logo h1 {
  text-shadow: 2px 2px 2px black;
}
.logo:hover {
  opacity: 1;
}
.navbar {
  display: flex;
  align-items: center;
  gap: 2rem;
  text-transform: uppercase;
  font-size: 1rem;
  list-style: none;
}
.navbar a {
  text-decoration: none;
  color: black;
  opacity: 0.6;
  font-weight: 400;
  font-style: italic;
  transition: all 0.3s ease;
}

.navbar a:hover {
  opacity: 1;
  padding-bottom: 5px;
  border-bottom: 2px solid black;
}

@media (max-width: 600px) {
  .header {
    height: 5rem;
  }
  .navbar {
    flex-direction: column;
    background-color: black;
    opacity: 0.8;
    padding: 1rem 0;
    text-align: center;
  }
  .navbar a {
    color: white;
  }
  .sec-mobile {
    position: absolute;
    width: 100vw;
    right: 0;
    top: 0;
  }
  .header-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .logo {
    opacity: 1;
  }
  .cart-mobile {
    position: absolute;
    right: 3rem;
    font-size: 1.4rem;
  }
  .cart-count {
    position: absolute;
    font-size: 0.8rem;
  }
}
